*, *:after, *:before {
    box-sizing: border-box;
}

header {
    @include clearfix;
}

h3 {
    font: 700 24px/1.2 $Lato;
    color: $blue-dark;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.meta-bar {
    @include column(12);
    background: $blue-dark;
    color: $blue-light;
    height: 50px;
    line-height: 50px;
    text-align: right;

    span {
        // catchphrase in meta nav
        // @include column(4);
        // @include push(8);
        
        font-size:10px;
        font: 300 12px/50px $Lato;
        margin-right: 15px;
    }
}

.menu {
    @include column(12);
    background: $blue-light;
    height: 105px;

    .logo {
        @include column(3);
        font: 32px $AdelleBasic;
        color: $white;
        line-height: 105px;
    }

    .main-nav {
        text-align: right;

        ul {
            // Main Nav Unordered List
            text-align: right;

            li {
                // Main Nav List Items
                list-style: none;
                text-align: right;
                display: inline;

                a {
                    // Main Nav Links
                    padding: 5px 15px;
                    font: 700 20px/105px $Lato;
                    color: $white;
                    transition: background 0.4s;

                    &:hover {
                        text-decoration: none;
                        background: $blue-middle;
                        transition: background 0.4s;
                    }
                }

                
            }
        }
    }
}

.display {
    @include column(12);
    background: $blue-middle;
    height: 445px;
    position: relative;

    @include breakpoint(mobile) {
        height: 200px;
    }

    &:before {
        // push display-border down by 20%
        // fixes issue with percent and margin-top
        display: block;
        content: "";
        width: 100%;
        height: 20%;
    }
    
    // Display Outer Border Width
    $display-outer-border : 16px;
    // Display Inner Border Width
    $display-inner-border : 35px;
    // Display Border-Radius Width
    $display-radius : 30px;
    // Calculate Inner Border-Radius Width
    $display-radius-outer : $display-radius + $display-outer-border;

    .display-outer-border {
        @include column(10);
        @include push(1);
        background: $grey-transparent;
        height: 80%;
        border-radius: $display-radius-outer $display-radius-outer 0 0;
        padding: $display-outer-border $display-outer-border 0;
    }

    .display-border {
        background: $grey-dark;
        height: 100%;
        border-radius: $display-radius $display-radius 0 0;
        padding: $display-inner-border $display-inner-border 0;
    }

    .screen {
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0 0;
        background: $white;
        overflow: hidden;

        .top-bar {
            width: 100%;
            height: 35px;
            border-radius: 5px 5px 0 0;
            background: $display-dark;

            @include breakpoint(mobile) {
                height: 24px;
            }

            .tab {
                border-bottom: 24px solid $display-light;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                height: 0;
                padding: 11px 0 0 5px;
                width: 25%;
                float: left;
                font-size: 12px;
                line-height: 24px;
                color: $display-font;

                @include breakpoint(mobile) {
                    border-bottom: 18px solid $display-light;
                    padding: 6px 0 0 4px;
                    width: 40%;
                    line-height: 18px;
                }
            }

            .window-buttons {
                // Container for window buttons
                @include clearfix;
                float: left;
                margin: 0 10px;

                span {
                    // window Buttons
                    width: 12px;
                    height: 12px;
                    border-radius: 12px;
                    display: inline;
                    float: left; 
                    margin: 12px 4px;
                    cursor: pointer;

                    @include breakpoint(mobile) {
                        width: 10px;
                        height: 10px;
                        margin: 7px 4px;
                    }
                }
                .close {    
                    background: $window-close;
                    &:hover {
                        background: $window-close-hover;
                    }
                }
                .maximize {    
                    background: $window-maximize;
                    &:hover {
                        background: $window-maximize-hover;
                    }
                }
                .minimize {    
                    background: $window-minimize;
                    &:hover {
                        background: $window-minimize-hover;
                    }
                }
            }
        }

        .url-bar {
            width: 100%;
            height: 37px;
            padding: 7px 0;
            background: $display-light;

            .url-buttons {
                @include clearfix;
                float: left;
                margin: 0 10px;
                width: 80px;
                cursor: pointer;

                span {
                    width: 0; 
                    height: 0; 
                    display: inline-block;
                    margin: 1px 5px;
                }

                .back {
                    border-top: $url-buttons-size solid transparent;
                    border-bottom: $url-buttons-size solid transparent; 
                    border-right:$url-buttons-size solid $display-dark; 
                    &:hover {
                        border-right:$url-buttons-size solid $display-darker;
                    }
                }
                .forward {
                    border-top: $url-buttons-size solid transparent;
                    border-bottom: $url-buttons-size solid transparent; 
                    border-left:$url-buttons-size solid $display-dark; 
                    &:hover {
                        border-left:$url-buttons-size solid $display-darker;
                    }
                }
                .reload {
                    border: 6px solid $display-dark;
                    height: 19px;
                    width: 19px;
                    border-radius:10px;
                    &:hover {
                        border: 6px solid $display-darker;
                    } 
                }
            }

            .url {
                height: 23px;
                width: 75%;
                margin-left: 100px;
                background: $white;
                cursor: text;
                &:hover {
                    background: $pure-white; 
                }
            }
        }

        .code-lines {
            @include column(1);
            font-family: $Consolas;
            text-align: right;
            padding: 0 5px;
            color: $display-font;
            background: $display-dark;

            @include breakpoint(mobile) {
                font-size: 11px; 
            }
        }

        .screen-content {
            @include column(11);
            font-family: $Consolas;
            padding: 0 5px;

            span {
                color: $display-font;
            }
            
            .text-1, .text-2, .text-3 {
                color: $display-font;
                white-space:nowrap;
                overflow:hidden;
                border-right: 2px solid black;
                -webkit-animation: type 2s steps(26, end), 
                                    blink 1s step-end 0.5s;
                -moz-animation: type 2s steps(26, end), 
                                    blink 1s step-end 0.5s;
                -webkit-animation-fill-mode:both;
                -moz-animation-fill-mode:both;
            }

            .text-2 {
                -webkit-animation-delay:2s;
                -moz-animation-delay:2s;
            }

            .text-3 {
                -webkit-animation: type-last 2s steps(26, end), 
                                    blink 1s step-end infinite;
                -moz-animation: type-last 2s steps(26, end), 
                                    blink 1s step-end infinite;
                -webkit-animation-delay:4s;
                -moz-animation-delay:4s;
                -webkit-animation-fill-mode:both;
                -moz-animation-fill-mode:both; 
            }

            $indent : 5%;

            .indent-1 {
                margin-left: $indent;
            }
            .indent-2 {
                margin-left: $indent * 2;
            }
            .highlight-grey {
                color: $display-dark;
            }
            .highlight-red {
                color: $highlight-red;
            }
            .highlight-blue {
                color: $highlight-blue;
            }
            .highlight-yellow {
                color: $highlight-yellow;
            }

            @include breakpoint(mobile) {
                font-size: 11px;

                .line-1, .line-2,
                .line-3, .line-4,
                .line-5, .line-6,
                .line-7, .line-8,
                .line-9, .line-10 {
                    display: none;
                }
                .indent-1,
                .indent-2 {
                    margin-left: 0;
                }
            }
        }
    }

    // reset Variables for mobile styles
    // on mobile reduce border sizes and radius
    $display-outer-border : 12px;
    $display-inner-border : 20px;
    $display-radius : 10px;
    $display-radius-outer : $display-radius + $display-outer-border;

    @include breakpoint(mobile) {
        .display-outer-border {
            border-radius: $display-radius-outer $display-radius-outer 0 0;
            padding: $display-outer-border $display-outer-border 0;
        }
        .display-border {
            border-radius: $display-radius $display-radius 0 0;
            padding: $display-inner-border $display-inner-border 0;
        }
        .screen,
        .top-bar {
            border-radius: 3px 3px 0 0;
        }
    }
}

.main-content {
    @include clearfix;
    display: block;
    // padding: 65px 0;    

    .services {
        @include column(12);
        // margin: 65px 0;
       
        .wrap {
            @include breakpoint(mobile) {
                padding: 0px 0px;
                width: 100%;
            } 
            
            .teaser {

                &:hover {
                    > div {
                        transition: width 0.6s;
                        @include breakpoint(mobile) {
                            width: 100%;
                        }
                        @include breakpoint(phablet) {
                            width: 170px;
                        }
                        @include breakpoint(laptop) {
                            width: 200px;
                        }
                    }
                }

            }
        }

        .design-teaser,
        .code-teaser,
        .advance-teaser {
            @include column(4);
            @include breakpoint(mobile) {
                @include column(12);
                margin: 0 0 45px 0;

                &:first-child {
                    margin: 45px 0;
                }
            }
            text-align: center;
            color: $grey-text;
            margin: 65px 0;
            cursor: pointer;

            p {
                padding: 0px 24px;
                font: 300 14px $Nunito;
                @include breakpoint(mobile) {
                    padding: 0px 15%;
                }
            }

            h2 {
                font: 400 14px $Nunito;
                text-transform: uppercase;
            }
        }

        .design-orb-border,
        .code-orb-border,
        .advance-orb-border {
            transition: width 0.6s;
            width: 122px + 2 * 9px;
            height: 122px + 2 * 9px;
            border-radius: 122px;
            padding: 9px;
            margin: 0 auto 35px auto;

            @include breakpoint(mobile) {
                // border-radius: 0px;
                // width: 100%;

                &:hover > .design-orb,
                &:hover > .code-orb,
                &:hover > .advance-orb, {
                    transition: all 0.3s;
                    border-radius: 0px;
                    width: 100%;
                }
            }
        }

        .design-orb-border {
            background: $design-light-red;
        }
        .code-orb-border {
            background: $design-light-blue;
        }
        .advance-orb-border {
            background: $design-light-green;
        }

        .design-orb,
        .code-orb,
        .advance-orb {
            width: 122px;
            height: 122px;
            margin: 0px auto;
            border-radius: 122px;
            transition: all 0.6s;
            text-align: center; 
            /* remove the gap between inline(-block) elements */
            font: 1px/0 Arial, sans-serif; 

            img {
                display: inline-block;
                vertical-align: middle; 
                font: 16px/1 sans-serif;
            }


        }

        .design-orb {
            background: $design-red;
        }
        .code-orb {
            background: $design-blue;
        }
        .advance-orb {
            background: $design-green;
        }

        .design-orb:before,
        .code-orb:before,
        .advance-orb:before {    /* create a full-height inline block pseudo=element */
            content: ' ';
            display: inline-block;
            vertical-align: middle;  /* vertical alignment of the inline element */
            height: 100%;
        }
    }

    .image-banner {
        display: block;
        @include column(12);
        height: 210px;
        width: 100%;
        background: url('../img/city.png') 0% 65%;
        // background-size: cover;
        position: relative;

        @include breakpoint(mobile) {
            background-size: initial;
        }
    }

}

.btn,
.btn:visited {
    min-height: 60px;
    border: 3px solid $white;
    border-radius: 5px;
    padding: 15px 30px;
    color: $white;
    display: inline-block;
    // position: absolute;
    font: 500 23px/21px $Lato, sans-serif;
    text-align: center;
    transition: color 0.3s, border-color 0.3s, background 0.3s;

    &:hover {
        color: $white;
        background: rgba(255,255,255,0.3);
        text-decoration: none;
        transition: color 0.3s, border-color 0.3s, background 0.3s;
    }
}


.btn-blue,
.btn-blue:visited {
    color: $blue-light;
    border-color: $blue-light;

    &:hover {
        color: $blue-dark;
        border-color: $blue-dark;
        text-decoration: none;
        transition: color 0.3s, border-color 0.3s, background 0.3s;
    }

    &.btn-hover-white:hover {
        color: $white;
        border-color: $white;
    }
}

.btn-red,
.btn-red:visited {
    background: $design-red;

    &:hover {
        background: $design-light-red;
        color: $white;
        border-color: $white;
        text-decoration: none;
    }
}

.btn-center {
    width: 220px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.spotlight {
    @include clearfix;
    @include column(12);
    position: relative;
    width: 100%;
    height: 600px;
    margin: 120px 0;
    overflow: hidden;

    @include breakpoint(mobile) {
        // height: 480px;
        margin: 60px 0;
    }


    .spotlight-content {

        input[type="radio"] {
            display: none;
            visibility: hidden;
        }

        li.slide {
            opacity: 0;
            width: 0;
            height: 0;
            font: 200 16px/1.5 $Nunito;
            // to avoid flickering of text when li is fading out
            // works with overflow: hidden; too, but we want the image to
            // extend over the size of the div.
            visibility: hidden; 
            // position absolute so that hidden slides don't take up space
            position: absolute; 

            // transition opacity
            -webkit-transition: opacity 0.7s ease-in-out;
            -moz-transition: opacity 0.7s ease-in-out;
            -o-transition: opacity 0.7s ease-in-out;
            -ms-transition: opacity 0.7s ease-in-out;
            transition: opacity 0.7s ease-in-out;
            
            .slide-content {
                padding: 60px 60px 60px 0;
                @include breakpoint(mobile) {
                    padding: 50px 20px 50px 10px;
                }
            }

            .slide-content,
            .slide-image {
                width: 50%;
                min-height: 320px;
                float: left;

                @include breakpoint(mobile) {
                    width: 70%;
                }
            }

            @include breakpoint(mobile) {
                .slide-image {
                    width: 30%;
                }
            }

            .slide-image {
                float: right;
            }
        }

        :checked + li {
            opacity: 1;
            width: 100%;
            min-height: 600px;
            visibility: visible;
            display: inline-block;


            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            /* Transition mode: opacity; */
            -webkit-transition: opacity 0.8s ease-in-out;
            -moz-transition: opacity 0.8s ease-in-out;
            -o-transition: opacity 0.8s ease-in-out;
            -ms-transition: opacity 0.8s ease-in-out;
            transition: opacity 0.8s ease-in-out;

            @include breakpoint(mobile) {
                min-height: 320px; 
            }
        }

        #slide-1:checked ~ .spotlight-nav > li:nth-child(1),
        #slide-2:checked ~ .spotlight-nav > li:nth-child(2),
        #slide-3:checked ~ .spotlight-nav > li:nth-child(3),
        #slide-4:checked ~ .spotlight-nav > li:nth-child(4) {
            transition: color 0.8s;
            color: $blue-light;
        }

        .spotlight-nav {
            // avoid text cursor between li's
            cursor: default;
            position: absolute;
            left: 22%;
            bottom: 170px;

            @include breakpoint(mobile) {
                width: 60%;
                text-align: center;
                left: 0%;
                bottom: 0px;
            }

            @include breakpoint(phablet) {
                bottom: 50px;
            }

            @include breakpoint(tablet) {
                bottom: 70px;
            }



            li {
                z-index: 90;
                display: inline-block;
                font-size: 36px;
                line-height: 1;
                transition: color 0.8s;
                color: $grey;

                @include breakpoint(mobile) {
                    font-size: 5em;
                }


                label {
                    cursor: pointer;
                }
            }
        }
    }
}


.more-work {
    @include column(12);
    @include clearfix;

    a {
        display: inline-block;
        background: $blue-light;

        @include breakpoint(mobile) {
            width: 100%;
        }

        @include breakpoint(phablet) {
            margin: 0px;
        }

        @include breakpoint(desktop) {
            margin: 5px 15px;
        }



        img {
            display: block;
            transition: opacity 0.5s;

            @include breakpoint(mobile) {
                width: 100%;
            }
        }

        &:nth-of-type(1) {
            @include breakpoint(mobile) {
                margin: 14px 0 7px 0;
            }
            @include breakpoint(phablet) {
                margin: 14px 0px 0px;
            }
            @include breakpoint(desktop) {
                margin: 5px 15px 5px 0;
            }
        }
        &:nth-of-type(3) {
            @include breakpoint(mobile) {
                margin: 7px 0;
            }
            @include breakpoint(phablet) {
                margin: 0px;
            }
            @include breakpoint(desktop) {
                margin: 5px 0 5px 15px;
            }
        }

        &:hover > img {
            opacity: 0.8;
            transition: opacity 0.5s;
        }
    }
}


.site-footer {
    @include column(12);
    padding-bottom: 0px;

    .footer-hero {
        height: 320px;
        background: $blue-dark;

        .wrap {
            max-width: 640px;
        }

        h4 {
            margin: 70px 0 50px 0;
            font: 200 24px $Nunito;
            color: $white;

            @include breakpoint(mobile) {
                margin: 30px 0 30px 0;
            }
        }
        
        a {
            margin: 0 25px;
            min-width: 220px;

            @include breakpoint(mobile) {
                margin: 7px 25px;
            }
        }
        
    }

    .footer-links {
        // height: 170px;
        background: $blue-light;
        padding: 38px 0;



        .links {
            display: inline-block;
            margin: 0 20px;
            color: $white;

            @include breakpoint(mobile) {
                margin: 0 20px 38px 20px;
            }

            h5 {
                color: $blue-dark;
                font: 400 16px $Nunito;
                text-transform: uppercase;
            }

            a {
                color: $white;
                font: 300 16px $Nunito;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }

        .latest-posts {
            vertical-align: top;
            float: right;

            @include breakpoint(mobile) {
                float: none;
            }
        }

    }

    .footer-bottom {
        height: 60px;
        background: $blue-middle;
    }

}





@-webkit-keyframes type {
    from { width: 0px; }
    to { width:335px; }
}

@-moz-keyframes type {
    from { width: 0; }
    to { width:335px; }
}

@keyframes type {
    from { width: 0; }
    to { width:335px; }
}

@-webkit-keyframes type-last {
    from { width: 0px; }
    to { width:246px; }
}

@-moz-keyframes type-last {
    from { width: 0; }
    to { width:246px; }
}

@keyframes type-last {
    from { width: 0; }
    to { width:246px; }
}

@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}


@include breakpoint(mobile) {
    .hide-mobile {
        display: none;
    }

    @-webkit-keyframes type {
        from { width: 0px; }
        to { width:235px; }
    }

    @-moz-keyframes type {
        from { width: 0; }
        to { width:235px; }
    }

    @keyframes type {
        from { width: 0; }
        to { width:235px; }
    }

    @-webkit-keyframes type-last {
        from { width: 0px; }
        to { width:150px; }
    }

    @-moz-keyframes type-last {
        from { width: 0; }
        to { width:150px; }
    }

    @keyframes type-last {
        from { width: 0; }
        to { width:150px; }
    }
}






