*, *:after, *:before {
    box-sizing: border-box;
}

header {
    @include clearfix;
}

h3 {
    font: 700 24px/1.2 $Lato;
    color: $blue-dark;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.username {
    margin: 0 7px 0 0;
}

.meta-bar {
    @include column(12);
    background: $blue-dark;
    color: $blue-light;
    height: 50px;
    line-height: 50px;
    text-align: right;

    span {
        font-size:10px;
        font: 300 12px/50px $Lato;
        margin-right: 15px;
    }
}

.menu {
    @include column(12);
    background: $blue-light;
    height: 105px;
}

.logo,
.logo a {
    font: 32px $AdelleBasic;
    color: $white;
    line-height: 105px;
    text-decoration: none;
    display: inline-block;
    float: left;
    
    &:before {
        content: " ";
        background: $blue-light;
        width: 18px;
        height: 9px;
        position: absolute;
        top: 35px;
        display: block;
    }
    
}




.main-nav {
    text-align: right;
    max-height: 105px;
    overflow: hidden;

    ul,
    li {
        list-style: none;
        text-align: right;
        display: inline;
    }

    a {
        // Main Nav Links
        padding: 7px 15px;
        font: 700 20px/105px $Lato;
        color: $white;
        
        &.active,
        &:hover {
            text-decoration: none;
            border-bottom: 3px solid $blue-middle;
        }
    }       
}


.hero-intro {
    background: $blue-middle;
    padding: 50px 5%;
    text-align: center;
    
    h1 {
        font: 49px $AdelleBasic;
        color: $blue-dark;
    }
}

.blog-post {
    @include column(12);
    position: relative;
    padding: 100px 5%;
    transition: background 0.3s;

    &:hover {
        background: rgba(0,0,0,0.01);   
        transition: background 0.3s;
        cursor: pointer;
        position: relative;
    }
    
    h2, 
    h2 a {
        margin: 0 0 7px 0;

        font: 700 24px/1.2 $Lato;
        color: $blue-dark;
        text-transform: uppercase;
    }

    p {
        font: 300 16px/1.5 $Nunito;
        color: $grey-text;
    }

    &.highlighted {
        background: $blue-light;
    }

}


.post {
    width: 50%;
    margin: 0 auto;

    @include breakpoint(mobile) {
        width: 100%;
    }

    @include breakpoint(phablet) {
        width: 90%;
    }

    @include breakpoint(desktop) {
        width: 50%;
    }
}

.btn,
.btn:visited {
    min-height: 60px;
    border: 3px solid $white;
    border-radius: 5px;
    padding: 15px 30px;
    color: $white;
    display: inline-block;
    font: 500 23px/21px $Lato, sans-serif;
    text-align: center;
    transition: color 0.3s, border-color 0.3s, background 0.3s;

    &:hover {
        color: $white;
        background: rgba(255,255,255,0.3);
        text-decoration: none;
        transition: color 0.3s, border-color 0.3s, background 0.3s;
    }
}


.btn-blue,
.btn-blue:visited {
    color: $blue-light;
    border-color: $blue-light;

    &:hover {
        color: $blue-dark;
        border-color: $blue-dark;
        text-decoration: none;
        transition: color 0.3s, border-color 0.3s, background 0.3s;
    }

    &.btn-hover-white:hover {
        color: $white;
        border-color: $white;
    }
}

.btn-red,
.btn-red:visited {
    background: $design-red;

    &:hover {
        background: $design-light-red;
        color: $white;
        border-color: $white;
        text-decoration: none;
    }
}

.btn-center {
    width: 220px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.more-work {
    @include column(12);
    @include clearfix;
    margin-bottom: 30px;

    a {
        display: inline-block;
        background: $blue-light;

        @include breakpoint(mobile) {
            width: 100%;
        }

        @include breakpoint(phablet) {
            margin: 0px;
        }

        @include breakpoint(desktop) {
            margin: 5px 15px;
        }


        img {
            display: block;
            transition: opacity 0.5s;

            @include breakpoint(mobile) {
                width: 100%;
            }
        }

        &:nth-of-type(1) {
            @include breakpoint(mobile) {
                margin: 14px 0 7px 0;
            }
            @include breakpoint(phablet) {
                margin: 14px 0px 0px;
            }
            @include breakpoint(desktop) {
                margin: 5px 15px 5px 0;
            }
        }
        &:nth-of-type(3) {
            @include breakpoint(mobile) {
                margin: 7px 0;
            }
            @include breakpoint(phablet) {
                margin: 0px;
            }
            @include breakpoint(desktop) {
                margin: 5px 0 5px 15px;
            }
        }

        &:hover > img {
            opacity: 0.8;
            transition: opacity 0.5s;
        }
    }
}


.about-text {
    padding: 60px 5%;    

    p {
        font: 300 16px/1.5 $Nunito;
        color: $grey-text;
    }
    
    h2 {
        margin: 0 0 7px 0;
        font: 700 24px/1.2 $Lato;
        color: $blue-dark;
        text-transform: uppercase;
    }
}


//TODO: Hintergrundbilder verbessern (rand weg und dafür bg color)
//TODO: Bilder responsive machen

