*, *:after, *:before {
    box-sizing: border-box;
}

header {
    @include clearfix;
}

h3 {
    font: 700 24px/1.2 $Lato;
    color: $blue-dark;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.username {
    margin: 0 7px 0 0;
}

.meta-bar {
    @include column(12);
    background: $blue-dark;
    color: $blue-light;
    height: 50px;
    line-height: 50px;
    text-align: right;

    span {
        font-size:10px;
        font: 300 12px/50px $Lato;
        margin-right: 15px;
    }
}

.menu {
    @include column(12);
    background: $blue-light;
    height: 105px;
}

.logo,
.logo a {
    font: 32px $AdelleBasic;
    color: $white;
    line-height: 105px;
    text-decoration: none;
    display: inline-block;
    float: left;
    
    &:before {
        content: " ";
        background: $blue-light;
        width: 18px;
        height: 9px;
        position: absolute;
        top: 35px;
        display: block;
    }
    
}




.main-nav {
    text-align: right;

    ul,
    li {
        list-style: none;
        text-align: right;
        display: inline;
    }

    a {
        // Main Nav Links
        padding: 7px 15px;
        font: 700 20px/105px $Lato;
        color: $white;
        
        &.active,
        &:hover {
            text-decoration: none;
            border-bottom: 3px solid $blue-middle;
        }
    }       
}


.hero-intro {
    background: $blue-middle;
    padding: 50px 5%;
    text-align: center;
    
    h1 {
        font: 49px $AdelleBasic;
        color: $blue-dark;
    }
}

.blog-post {
    @include column(12);
    position: relative;
    padding: 100px 5%;
    transition: background 0.3s;

    &:hover {
        background: rgba(0,0,0,0.01);   
        transition: background 0.3s;
        cursor: pointer;
        position: relative;
    }
    
    h2, 
    h2 a {
        margin: 0 0 7px 0;

        font: 700 24px/1.2 $Lato;
        color: $blue-dark;
        text-transform: uppercase;
    }

    p {
        font: 300 16px/1.5 $Nunito;
        color: $grey-text;
    }

    &.highlighted {
        background: $blue-light;
    }

}


.btn,
.btn:visited {
    min-height: 60px;
    border: 3px solid $white;
    border-radius: 5px;
    padding: 15px 30px;
    color: $white;
    display: inline-block;
    font: 500 23px/21px $Lato, sans-serif;
    text-align: center;
    transition: color 0.3s, border-color 0.3s, background 0.3s;

    &:hover {
        color: $white;
        background: rgba(255,255,255,0.3);
        text-decoration: none;
        transition: color 0.3s, border-color 0.3s, background 0.3s;
    }
}


.btn-blue,
.btn-blue:visited {
    color: $blue-light;
    border-color: $blue-light;

    &:hover {
        color: $blue-dark;
        border-color: $blue-dark;
        text-decoration: none;
        transition: color 0.3s, border-color 0.3s, background 0.3s;
    }

    &.btn-hover-white:hover {
        color: $white;
        border-color: $white;
    }
}

.btn-red,
.btn-red:visited {
    background: $design-red;

    &:hover {
        background: $design-light-red;
        color: $white;
        border-color: $white;
        text-decoration: none;
    }
}

.btn-center {
    width: 220px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.more-work {
    @include column(12);
    @include clearfix;
    margin-bottom: 30px;

    a {
        display: inline-block;
        background: $blue-light;

        @include breakpoint(mobile) {
            width: 100%;
        }

        @include breakpoint(phablet) {
            margin: 0px;
        }

        @include breakpoint(desktop) {
            margin: 5px 15px;
        }


        img {
            display: block;
            transition: opacity 0.5s;

            @include breakpoint(mobile) {
                width: 100%;
            }
        }

        &:nth-of-type(1) {
            @include breakpoint(mobile) {
                margin: 14px 0 7px 0;
            }
            @include breakpoint(phablet) {
                margin: 14px 0px 0px;
            }
            @include breakpoint(desktop) {
                margin: 5px 15px 5px 0;
            }
        }
        &:nth-of-type(3) {
            @include breakpoint(mobile) {
                margin: 7px 0;
            }
            @include breakpoint(phablet) {
                margin: 0px;
            }
            @include breakpoint(desktop) {
                margin: 5px 0 5px 15px;
            }
        }

        &:hover > img {
            opacity: 0.8;
            transition: opacity 0.5s;
        }
    }
}


.about-text {
    padding: 60px 5%;    

    p {
        font: 300 16px/1.5 $Nunito;
        color: $grey-text;
    }
    
    h2 {
        margin: 0 0 7px 0;
        font: 700 24px/1.2 $Lato;
        color: $blue-dark;
        text-transform: uppercase;
    }
}


@-webkit-keyframes type {
    from { width: 0px; }
    to { width:335px; }
}

@-moz-keyframes type {
    from { width: 0; }
    to { width:335px; }
}

@keyframes type {
    from { width: 0; }
    to { width:335px; }
}

@-webkit-keyframes type-last {
    from { width: 0px; }
    to { width:246px; }
}

@-moz-keyframes type-last {
    from { width: 0; }
    to { width:246px; }
}

@keyframes type-last {
    from { width: 0; }
    to { width:246px; }
}

@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}


@include breakpoint(mobile) {
    .hide-mobile {
        display: none;
    }

    @-webkit-keyframes type {
        from { width: 0px; }
        to { width:235px; }
    }

    @-moz-keyframes type {
        from { width: 0; }
        to { width:235px; }
    }

    @keyframes type {
        from { width: 0; }
        to { width:235px; }
    }

    @-webkit-keyframes type-last {
        from { width: 0px; }
        to { width:150px; }
    }

    @-moz-keyframes type-last {
        from { width: 0; }
        to { width:150px; }
    }

    @keyframes type-last {
        from { width: 0; }
        to { width:150px; }
    }
}


.work-showcase {
    border-bottom: 1px solid $white;
}

.work-example {
    color: $white;
    border-top: 1px solid $white;
    font: 300 16px/1.5 $Nunito;
    
    h1,
    h2 {
        color: $white;
        text-transform: uppercase; 
    }
    h1 {
        font: 700 42px/1.2 $Lato;
        margin: 0 0 15px 0;
    }
    h2 {
        font: 400 20px/1.2 $Lato;
        margin: 0 0 7px 0;
    }
    
    .work-services {
        i {
            width: 30px;
        }
    }
    

    &.maruma-bg {
        background: url("../img/work/maruma-bg2.jpg") rgb(213,100,28) center top no-repeat;

        p {
            width: 37%; 
        }
        
        .wrap {
            padding: 13% 30px 10% 30px;
        }
        
        @include breakpoint(mobile) {
            min-height: 300px;
            background-position: 70% -95px;
            
            p {
                width: 90%;
            }
            
            .wrap {
                padding: 500px 30px 80px 30px;
            }
        }
    }

    &.siegel-bg {
        background: url("../img/work/siegel-bg2.jpg") #3461de center top no-repeat;
        
        .browser-image {
            float: left;
            width: 48%;
        }
    }
    
    &.grischuna-bg {
        background: url("../img/work/grischuna-bg.jpg") #7b0e1e center top no-repeat;

        .browser-image {
            float: right;
            width: 48%;
            position: relative;
            display: block;
            
            img {
                &:first-child {
                    width: 100%;
                }
                &:last-child {
                    width: 45%;
                }
            }
        }
        
        .browser-popout {
            position: absolute;
            right: -7%;
            bottom: -27%;
            
            @include breakpoint(mobile) {
                display: none;
            }
        }
    } 

    
    &.siegel-bg,
    &.grischuna-bg,
    &.transportgruen-bg {
//        min-height: 850px;
        
        .push-right {
            width: 48%;
            float: right;
        }
        
        .push-left {
            width: 51%;
            float: left;
        }
        
        
        h1 {
            @include breakpoint(laptop) {
                font-size: 35px;
            }
            @include breakpoint(tablet) {
                font-size: 35px;
            }
            @include breakpoint(phablet) {
                font-size: 30px;
            }
            @include breakpoint(mobile) {
                font-size: 30px;
            }
        }

        .wrap {
            padding: 7% 30px 9% 30px;
        }
        
        p {
            width: 75%;
        }
        
        
        
        @include breakpoint(mobile) {
            min-height: 300px;
            background-position: 37% 0px;
            
            .push-right,
            .push-left {
                width: 100%;
                float: none;
            }
            
            .browser-image {
                float: none;
                width: 100%;
                margin-bottom: 10%;
            }
            
            p {
                width: 100%;
            }
            
            .wrap {
                padding: 100px 30px 80px 30px;
            }
        }
    }
    
    &.grischuna-bg {
        h1 {
            font: 700 42px/1.2 $Lato;
            margin: 0 0 15px 0;
        }
    }
        
    &.transportgruen-bg {
        background: url("../img/work/transportgruen-bg.jpg") #548512 center top no-repeat;
        
        h1 {
            margin: 0 0 15px 0;

            @include breakpoint(phablet) {
                font: 700 30px/1.2 $Lato;
            }
            
            @include breakpoint(tablet) {
                font: 700 42px/1.2 $Lato;
            }
        }
        
        @include breakpoint(mobile) {
            min-height: 300px;
            background-position: 19% -100px;
            
            .wrap {
                padding: 430px 30px 80px 30px;
            }
        }
    }
    

}

//TODO: Hintergrundbilder verbessern (rand weg und dafür bg color)
//TODO: Bilder responsive machen

