$blue-light : #71adff;
$blue-dark : #2d3c50;
$blue-middle : #529bff;

$white : #fafafa;
$pure-white : #fff;

$grey-dark : #2f2f2f;
$grey-light : #f4f4f4;
$grey-text : #616161;
$grey-transparent : rgba(0,0,0,0.5);

$display-dark : #cfcfcf;
$display-darker : #8e8e8e;
$display-light : #ebebeb;
$display-font : #5c5c5c;

$window-close : #c95f5a;
$window-close-hover : #b93a34;

$window-minimize : #dba759;
$window-minimize-hover : #b88338;

$window-maximize : #71a94d;
$window-maximize-hover : #558933;

$url-buttons-size : 10px;

$highlight-red : #e7665f;
$highlight-blue : #69a8ff;
$highlight-yellow : #f99e19;

$design-red : #e46f7f;
$design-light-red : #ec9aa5;

$design-blue : #529bff;
$design-light-blue : #86b9ff;

$design-green : #30d0b0;
$design-light-green : #6edec8;