
.main-content {
    @include clearfix;
    display: block;
}


.services {
    @include column(12);

    .wrap {
        @include breakpoint(mobile) {
            padding: 0px 0px;
            width: 100%;
        } 
    }
    
    .teaser {
        padding: 35px 0px;
        transition: background 0.6s;
        
        &:hover {
            background: $white;
            transition: all 0.6s;
            > div {
                  width: 100%;
                  border-radius: 0px;
                  transition: all 0.4s;
            }
        }
    }
    

    .design-teaser,
    .code-teaser,
    .advance-teaser {
        @include column(4);
        @include breakpoint(mobile) {
            @include column(12);
            margin: 0 0 45px 0;

            &:first-child {
                margin: 45px 0;
            }
        }
        text-align: center;
        color: $grey-text;
        margin: 45px 0;
        cursor: pointer;

        p {
            padding: 0px 24px;
            font: 300 14px $Nunito;
            @include breakpoint(mobile) {
                padding: 0px 15%;
            }
        }

        h2 {
            font: 400 14px $Nunito;
            text-transform: uppercase;
        }
    }

    .design-orb-border,
    .code-orb-border,
    .advance-orb-border {
        transition: width 0.6s;
        width: 122px + 2 * 9px;
        height: 122px + 2 * 9px;
        border-radius: 122px;
        padding: 9px;
        margin: 0 auto 35px auto;
    }

    .design-orb-border {
        background: $design-light-red;
    }
    .code-orb-border {
        background: $design-light-blue;
    }
    .advance-orb-border {
        background: $design-light-green;
    }

    .design-orb,
    .code-orb,
    .advance-orb {
        width: 122px;
        height: 122px;
        margin: 0px auto;
        border-radius: 122px;
        transition: all 0.6s;
        text-align: center; 
        /* remove the gap between inline(-block) elements */
        font: 1px/0 Arial, sans-serif; 

        img {
            display: inline-block;
            vertical-align: middle; 
            font: 16px/1 sans-serif;
        }


    }

    .design-orb {
        background: $design-red;
    }
    .code-orb {
        background: $design-blue;
    }
    .advance-orb {
        background: $design-green;
    }

    .design-orb:before,
    .code-orb:before,
    .advance-orb:before {    /* create a full-height inline block pseudo=element */
        content: ' ';
        display: inline-block;
        vertical-align: middle;  /* vertical alignment of the inline element */
        height: 100%;
    }
}





.image-banner {
    display: block;
    @include column(12);
    height: 210px;
    width: 100%;
    background: url('../img/city.png') 0% 65%;
    position: relative;

    @include breakpoint(mobile) {
        background-size: initial;
    }
}


